{% extends "base.html" %}

<!-- Per-page css -->
{% block page_css %}
<link rel="stylesheet" href="/static/selectize-0.15.2.default.min.css" />
{% endblock %}

{% block content %}

<h1>Pick one of the following options</h1>

<div class="card text-bg-light mt-3">
    <h2 class="card-title">Nomination template</h2>
    <div class="card-body">
        <form method="POST" action="/select">
            {{ template_form.type }}
            <div class="w-50 m-1">{{ template_form.name }}</div>
            <div class="m-1">{{ template_form.submit }}</div>
        </form>
    </div>
</div>

<div class="card text-bg-light mt-3">
    <h2 class="card-title">Hook set</h2>
    <div class="card-body">
        <form method="POST" action="/select">
            <div class="w-50 m-1">{{ hook_set_form.name }}</div>
            <div class="m-1">{{ hook_set_form.submit }}</div>
        </form>
    </div>
</div>

{% endblock %}

<!-- Per-page javascript -->
{% block page_scripts %}
<script src="/static/selectize-0.15.2.min.js"></script>
<script>
    $(function () {
        $("select").selectize({
            create: true,
            showAddOptionOnCreate: true,
            placeholder: "Select a template, or enter one manually",
        });
    });
</script>
{% endblock %}
